

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular (400) */
.font-Poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Bold (700) */
.font-Poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


.background{
  width: 100%;
  height: 70vh;
  background-image: url(../../public/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.loader{
  background-image: url(../../public/loader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
